<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/ui-page.css">
    <title>index</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <h1 class="webstie-title"></h1>
            <div class="search-form">
                <input type="search">
                <input type="submit" value="🔍">
            </div>
        </header>
        
        <div class="search-result">
            <ul class="result">
                <li class="result-item">
                    <figure>
                        <img class="item-img" src="https://i.ytimg.com/vi/j1dDZC1wKCg/hqdefault.jpg" alt="/"/>
                    </figure>
                    <div class="item-option">
                        <div class="item-title"><p>제목이에요</p></div>
                        <div class="item-owner"><P>주인</P></div>
                        <div class="item-desc"><P>설명설명</P></div>
                        <div class="item-see"><P>조회수: 30</P></div>
                        <div class="item-btns">
                            <button class="download-btn btn">다운로드</button>
                            <button class="add-playlist-btn btn">재생목록에 추가</button>
                        </div>
                    </div>
                </li>
                <li class="result-item">
                    <figure>
                        <img class="item-img" src="https://i.ytimg.com/vi/j1dDZC1wKCg/hqdefault.jpg" alt="/"/>
                    </figure>
                    <div class="item-option">
                        <div class="item-title"><p>제목이에요</p></div>
                        <div class="item-owner"><P>주인</P></div>
                        <div class="item-desc"><P>설명설명</P></div>
                        <div class="item-see"><P>조회수: 30</P></div>
                        <div class="item-btns">
                            <button>다운로드</button>
                            <button class="add-playlist-btn">재생목록에 추가</button>
                        </div>
                    </div>
                </li>
                <li class="result-item">
                    <figure>
                        <img class="item-img" src="https://i.ytimg.com/vi/j1dDZC1wKCg/hqdefault.jpg" alt="/"/>
                    </figure>
                    <div class="item-option">
                        <div class="item-title"><p>제목이에요</p></div>
                        <div class="item-owner"><P>주인</P></div>
                        <div class="item-desc"><P>설명설명</P></div>
                        <div class="item-see"><P>조회수: 30</P></div>
                        <div class="item-btns">
                            <button>다운로드</button>
                            <button class="add-playlist-btn">재생목록에 추가</button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <script src="../javascripts/search.js"></script>
</body>
</html>